body {
    background-color: #5F0EA6;
    color: white;
}

nav {
  background-color: white;
}

.right {
  align-self: flex-end;
}

.grow {
  flex: 1;
}

.pixel {
  font-family: 'VT323', monospace;
  font-size: 5em;
  color: white;
}

.jumbotron {
  background-color: inherit;
}

.greeting {
  margin-top: 10%;
}

.section-title {
  float: left;
  margin-right: 10px;
}

#head {
  witdh: 100%;
  height: 80vh;
  background-image: url("../resources/controllers.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
