body {
    background-color: #5F0EA6;
    color: white;
}

nav {
  background-color: white;
}

.right {
  align-self: flex-end;
}

.grow {
  flex: 1;
}

.pixel {
  font-family: 'VT323', monospace;
  font-size: 5em;
  color: white;
}

.jumbotron {
  background-color: inherit;
}

.greeting {
  margin-top: 10%;
}

.section-title {
  float: left;
  margin-right: 10px;
}

p a {
  color: white;
  text-decoration: underline;
}

p a:hover {
  color: grey;
}

.about {
  color: black;
  padding: 1em;
  margin: 2em;
}

.about h1 {
  font-family: 'VT323', monospace;
}

.about a {
  color: black;
}

footer a {
  color: white;
}

footer a:hover {
  color: grey;
}


.navbar-nav {
    margin: 0;
    padding: 7.5px 15px;
}

#head {
  witdh: 100%;
  height: 80vh;
  background-image: url("../resources/controllers.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
