.navbar-custom {
    background-color: #F0F0F0;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #5F0EA6;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #6D6D6D;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #5F0EA6;
}
